<% provide(:title, 'About')%>  

<h1>About</h1>
<p>PotLuck is a service that connects people looking for quality food to chefs in their neighborhood and have it delivered to their door.</p>
<p>Potluck has been founded by food enthusiast <a href ="http://twitter.com/sub1010" target="_blank"> Subal Charla</a></p>
   
                            