<% provide(:title, 'How it works')%>

  
   <h1>How it works!</h1>

    <iframe width="800" height="591" src="http://www.youtube.com/embed/xCPdgP0YyJg?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>


